# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [15]:
weather_file = "output_data/cities.csv"
city_weather_df = pd.read_csv(weather_file)
city_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,mataura,76,NZ,1603765376,62,-46.19,168.86,57.99,5.99
1,ribeira grande,100,PT,1603765376,91,38.52,-28.70,68.49,13.47
2,katsuura,75,JP,1603765308,59,35.13,140.30,66.99,11.41
3,vaini,75,TO,1603765262,94,-21.20,-175.20,73.40,9.17
4,burns lake,100,CA,1603765377,84,54.23,-125.75,42.96,11.99
...,...,...,...,...,...,...,...,...,...
579,aswan,0,EG,1603765509,31,24.09,32.91,74.28,10.13
580,vilyuysk,97,RU,1603765509,92,63.76,121.62,10.26,5.57
581,chake chake,50,TZ,1603765509,84,-5.25,39.77,74.95,2.21
582,grenville,75,GD,1603765510,88,12.12,-61.62,78.80,17.22
583,bhatkal,0,IN,1603765510,75,13.97,74.57,77.31,3.74

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [16]:
gmaps.configure(g_key)

In [17]:
#Store Latitudes and Longitudes as Locations
cities = city_weather_df[["Lat", "Lng"]].astype(float)
weights = city_weather_df["Humidity"]/5

# Plot Heatmap
fig = gmaps.figure(zoom_level=1.3,center=(40,74))

# Create heat layer
heat_layer = gmaps.heatmap_layer(cities, weights, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
narrowed_city_df = city_weather_df.loc[(city_weather_df["Wind Speed"] < 8) & (city_weather_df["Cloudiness"] == 0) & (city_weather_df["Max Temp"] < 78) & (city_weather_df["Max Temp"] > 72)]
narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
245,prieska,0,ZA,1603765429,43,-29.66,22.75,72.07,7.38
268,koungou,0,YT,1603765434,83,-12.73,45.20,75.20,3.36
304,salalah,0,OM,1603765442,64,17.02,54.09,73.40,2.24
368,macherla,0,IN,1603765464,80,16.48,79.43,74.71,5.17
386,grand gaube,0,MU,1603765305,74,-20.01,57.66,73.99,5.01
487,nioro,0,GM,1603765267,82,13.35,-15.75,76.44,5.21
516,porbandar,0,IN,1603765396,57,21.64,69.61,75.20,3.36
583,bhatkal,0,IN,1603765510,75,13.97,74.57,77.31,3.74

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
narrowed_city_df["Hotel Name"] = ""
narrowed_city_df

<ipython-input-19-4f07ed6e26a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  narrowed_city_df["Hotel Name"] = ""

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
245,prieska,0,ZA,1603765429,43,-29.66,22.75,72.07,7.38,
268,koungou,0,YT,1603765434,83,-12.73,45.20,75.20,3.36,
304,salalah,0,OM,1603765442,64,17.02,54.09,73.40,2.24,
368,macherla,0,IN,1603765464,80,16.48,79.43,74.71,5.17,
386,grand gaube,0,MU,1603765305,74,-20.01,57.66,73.99,5.01,
487,nioro,0,GM,1603765267,82,13.35,-15.75,76.44,5.21,
516,porbandar,0,IN,1603765396,57,21.64,69.61,75.20,3.36,
583,bhatkal,0,IN,1603765510,75,13.97,74.57,77.31,3.74,

In [20]:
params = {
    "location": 'location',             
    "radius": 5000,
    "types": 'lodging',
    "key": g_key
}


for index, row in narrowed_city_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    response = requests.get(base_url, params=params)
    response = response.json()
    try:
        narrowed_city_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

/Users/roseabdallah/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Missing field/result... skipping.

In [32]:
hotel_df = narrowed_city_df[["City", "Country","Lat","Lng","Hotel Name"]].copy()
hotel_df

            City Country    Lat    Lng                            Hotel Name
245      prieska      ZA -29.66  22.75                     Avenue GuestHouse
268      koungou      YT -12.73  45.20                         Villa Netibor
304      salalah      OM  17.02  54.09                    HAMDAN PLAZA HOTEL
368     macherla      IN  16.48  79.43                                   BHR
386  grand gaube      MU -20.01  57.66  Veranda Paul et Virginie Hotel & Spa
487        nioro      GM  13.35 -15.75
516    porbandar      IN  21.64  69.61                   Lords Inn Porbandar
583      bhatkal      IN  13.97  74.57    SPOT ON 61793 Chaya Residency SPOT

In [33]:
# NOTE: Do not change any of the code in this cell
    
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [34]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(hotel_layer)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))